/*Seccion de Descripcion*/
.descripcion{
    padding: 20px;
    color: white;
    text-align: center;
    h2{
        line-height: 1.9;
    }
    .color-acento{ color: blueviolet;}
}
.entre-pagina{
    color: white;
    text-align: justify;
}